<div class="group">
  <%= f.input :content, class: "form-control" %>
</div>

<div class="group">
  <%= f.input :completed, class: "form-control" %>
</div>

<%= f.submit "Submit", data: {disable_with: "Submitting"} %>
