<div class="group" style="margin-top: 50px;">
  <%= f.input :content, class: "form-control" %>
</div>

<div class="group">
  <%= f.input :completed, class: "form-control" %>
</div>

<div class="text-center" style="margin-top: 40px;">
  <%= f.submit "Submit", data: {disable_with: "Submitting"}, class: "btn btn-primary" %>
</div>
