<h2>Edit Task for <%= render_user_name(@course.user_id) %> - <%= @course.title %></h2>

<%= simple_form_for [:admin, @course, @task] do |f| %>

<%= render :partial => "form", :locals => { :f => f } %>

<% end %>
