<div class="col-md-11 col-centered">

  <div class="dashboard-content">
    <div class="course-content">

      <h2>Edit Task for <%= @course.user.display_name %> - <%= @course.title %></h2>

      <%= simple_form_for [:admin, @course, @task] do |f| %>

      <%= render :partial => "form", :locals => { :f => f } %>

      <% end %>

    </div>
  </div>

</div>
