<h2>New Task for <%= @course.user.display_name %> - <%= @course.title %></h2>

<%= simple_form_for [:admin, @course, @task] do |f| %>

<%= render :partial => "form", :locals => { :f => f } %>

<% end %>
