// Place all the styles related to the admin::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user-btn-group {
  margin-top: 80px;
  padding-left: 70px;
  padding-right: 70px;
}

.user-btn {
  margin-bottom: 30px;
  width: 120px;
}
