<h2 class="text-center">My Courses</h2>

<div class="row">
  <% @courses.each do |course| %>
    <div class="col-md-3">
      <%= link_to course_path(course) do %>
        <% if course.image.present? %>
          <%= image_tag(course.image.thumb.url, class: "image-thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/320x240&text=No Pic", class: "image-thumbnail") %>
        <% end %>
        <div class="caption">
          <h4><%= course.title %></h4>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
