<h2 class="text-center"> <%= @course.title %> </h2>

<div class="text-center">
  <p><%= @course.description %></p>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Times</th>
      <th>Completed?</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>#</td>
        <td>#</td>
      </tr>
  </tbody>
</table>
