/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';


// 让内容居中
 .col-centered {
  float: none;
  margin: 0 auto;
}

// .thumbnail {
//     position: relative;
//     margin-bottom: 20px;
// }

.course {
  margin-bottom: 30px;
}

.caption {
    position: absolute;
    top: 85.2%;
    left: 5.5%;
    width: 68.2%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #e8e8e8;
}
