// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//---------levels#index---------
//---------主页整体---------

@media (max-width: 1280px) {
  .dashboard-content {
    padding: 0 15px;
  }
}

.dashboard-content {
  margin: 70px auto 25px;
  max-width: 1240px;
  min-height: 100%;

  .course-content {        // 左侧框
    margin: 0 auto 40px;
    width: 100%;
    background-color: #fff;
    padding: 20px 20px 30px;
    min-height: 970px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    display: table;
    border-radius: 8px;
  }
}


//---------主页左侧课程内容---------

.left-section {      // 整个左侧部分
  float: left;
  width: calc(100% - 340px);
}

.dashboard-header {
  float: left;
  margin-bottom: 2px;
  width: 100%;
  height: auto;
  display: block;
  padding: 0;
  position: relative;
  background-color: #FFF;

  h3 {
    font-size: 24px;
    color: #575a5b;
    // font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-family: 'Baloo Tammudu', cursive;
    font-weight: 100;
    line-height: 21px;
    margin-bottom: 0px;
    margin-top: 13px;
  }
}

@media (min-width: 1221px) {
  .all-course {
    width: 840px;
  }
}

.all-course {
  margin: 0 auto;
  text-align: center;
  overflow: hidden;    // 如果换成 auto 则出现横滚动轴
  min-width: 200px;
  max-width: 960px;
  display: block;
  list-style: none;

  .level-card {
    height: 203px;
    width: 200px;
    float: left;
    margin: 15px 31px 40px;
    background: #f6f8f8;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.24);
    position: relative;
    padding-left: 0;
    padding-right: 0;

    .title-cover {
      position: absolute;
      z-index: 80;
      height: 40px;
      width: 200px;
      margin-top: 160px;
      background: rgba(255,255,255,0.85);
    }

    .start-btn {
      position: absolute;
      z-index: 95;
      color: #333;
      width: 200px;
      height: 250px;
      display: none;
      background: rgba(255,255,255,0.8);

      span {
        display: block;
        margin-top: 90px;
        margin-left: auto;
        margin-right: auto;
        width: 90px;
        padding-top: 15px;
        padding-bottom: 5px;
        font-family: 'Baloo Tammudu', cursive;
        font-size: 18px;
        color: #FFF;
        border: 1px solid rgba(74,73,74,0.19);
        background: rgba(39,55,72,0.9);
        border-radius: 8px;
        font-weight: 800;
      }
    }

    .title {
      position: absolute;
      z-index: 81;

      h4 {
        margin-top: 166px;
        font-size: 18px;
        color: #575a5b;
        line-height: 40px;
        padding-left: 71px;
        letter-spacing: 1px;
        text-align: center;
        // font-family: 'Montserrat', sans-serif;
        font-family: 'Baloo Tammudu', cursive;
      }
    }

    .course-img {
      position: absolute;
      z-index: 70;

      img {
        width: 200px;
        height: 200px;
      }
    }

    // .schedule-block {
    //   border-top: 1px solid #DEDEDE;
    //   position: absolute;
    //   z-index: 90;
    //   margin-top: 200px;
    //   height: 51px;
    //   width: 200px;
    //   padding: 6px 10px;
    //
    //   .progress {
    //     overflow: hidden;
    //     background-color: #ccc;
    //     height: 4px;
    //     width: auto;
    //     margin: 13px 0 5px;
    //     border-radius: 4px;
    //   }
    //
    //   p.task {
    //     font-size: 13px;
    //     text-align: right;
    //     color: #575a5b;
    //     letter-spacing: 0.8px;
    //     margin-top: 5px;
    //   }
    // }
  }

  .level-card:hover {
    .title-cover {
      display: none;
    }
    .start-btn {
      display: block;
    }
    .title h4 {
      color: #000
    }
  }

}


//---------levels#show---------

.block {
  background-color: #FFF;
  margin: 50px auto;
  padding: 50px;
  min-height: 500px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  border-radius: 8px;
}

.book {
  font-family: 'Baloo Tammudu', cursive;
  color: #575a5b;
}
