<div class="col-md-11 col-centered">

  <div class="dashboard-content">
    <div class="course-content">

      <h2 class="text-center">我的学生</h2>

      <hr>

      <div class="user-btn-group">
        <div class="row">
          <% @users.each do |user| %>
            <div class="col-md-4">
              <%= link_to(user.display_name, admin_user_path(user), class: "btn btn-lg btn-info user-btn") %>
            </div>
            <% end %>
        </div>
      </div>

    </div>
  </div>

</div>
