<h2 class="text-center"><%= @user.display_name %> 的课程表</h2>

<div class="pull-right" style="margin-bottom: 20px;">
  <%= link_to("新增课程", new_admin_course_path, class: "btn btn-sm btn-primary") %>
</div>
