<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

      <div class="navbar-header">
        <a class="navbar-brand" href="/">Sylvia Chinese</a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li> <%= link_to("Register", "#") %> </li>
          <li> <%= link_to("Sign up", "#") %> </li>
        </ul>
      </div>

  </div>
</nav>
