<h2 class="text-center">Edit Course</h2>

<%= simple_form_for [:admin, @course] do |f| %>

<% if @course.image.present? %>
  <b>目前课程图片</b><br>
  <%= image_tag(@course.image.small.url) %>
<% end %>


<%= render :partial => "form", :locals => { :f => f } %>


<% end %>
