<h2>New Course</h2>

<%= simple_form_for [:admin, @course] do |f| %>

<%= render :partial => "form", :locals => { :f => f } %>

<% end %>

<%= link_to("å–æ¶ˆ", admin_users_path, class: "btn btn-default", style: "margin-top: 20px;") %>
